* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fffdf8;
  font-family: "neue-haas-grotesk-display";
}

header {
  position: fixed;
  background-color: #fffdf8;
  height: 80px;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: space-between;
}

/* Navbar container */
.navbar {
  overflow: hidden;
  background-color: #fffdf8;
  color: black;
  font-size: 22px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  border-bottom: #fc4d46 solid 1px;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: #000;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  /* Important for vertical align on mobile phones */
  margin: 0;
  /* Important for vertical align on mobile phones */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fffdf8;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #fffdf8;
  color: #fc4d46;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

@media screen and (min-width: 768px) {
  .main-menu-desktop {
    display: block;
  }
}

.closemobilemenu {
  cursor: pointer;
}

.burger-icon {
  display: block;
  padding: 0.8rem;
  z-index: 4000;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0.4rem;
}

@media screen and (min-width: 768px) {
  .burger-icon {
    display: none;
  }
}

.burger {
  background-image: url(../assets/burger.svg);
  background-repeat: no-repeat;
}

.close-mobile-menu {
  background-image: url(../assets/closemenu.svg);
  background-repeat: no-repeat;
}

.logo {
  background-image: url(/assets/reddot.svg);
  padding: 10rem;
  margin: 1rem;
  background-repeat: no-repeat;
}

.mobile-nav {
  font-weight: 400;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 2rem;
  animation-name: slideIn;
  animation-duration: 0.3s;
  z-index: 10;
}

.mobile-nav-hide {
  display: none;
}

.mobile-nav ul {
  list-style: none;
}

.mobile-nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 3rem;
}

@keyframes slideIn {
  from {
    transform: translate(100vw);
  }

  to {
    transform: translate(0px);
  }
}

h1 {
  color: #f74b20;
  font-size: 6rem;
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 14px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  .top {
    flex-direction: column;
  }
}

img {
  width: 15%;
  display: flex;
  margin: auto;
}

.top {
  display: flex;
  color: white;
  background: #f74b20;
  justify-content: space-evenly;
  margin: 50px 0;
  padding: 30px 50px;
  column-gap: 40px;
}

.oppgaven {
  flex-grow: 2;
  color: white;
}

.prosjektdetaljer {
  flex-grow: 1;
}

h3 {
  color: black;
  font-size: 40px;
  font-weight: 500;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

p {
  padding: 0 10em;
  margin: 0 200px;
  justify-content: center;
  align-items: center;
}

.research {
  padding: 0 10em;
  margin: 0 200px;
}

.problem {
  text-align: center;
}

.bullet-points {
  display: flex;
  padding: 0 10em;
  margin: 0 200px;
  justify-content: center;
  align-items: center;
}

.design-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  margin-top: 20px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat;
  grid-gap: 15px;
  border: 0.5 solid black;
  margin: 100px;
}

.gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.les-mer {
  text-align: center;
  color: white;
}

.les-mer a {
  text-decoration: none;
  color: white;
}

.les-mer a:hover {
  border-bottom: #fff solid 1px;
}

.footer {
  height: 100%;
  background-color: #fc4d46;
  padding: 40px;
}

.footer a {
  color: white;
  text-align: left;
  margin: 20px;
  column-gap: 10px;
  text-decoration: none;
}

.footer a:hover {
  border-bottom: #fff solid 1px;
}
