* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fffdf8;
  font-family: "neue-haas-grotesk-display";
}

header {
  position: fixed;
  min-height: 80px;
  width: 100%;
  color: #fffdf8;
  z-index: 5;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.sticky {
  background: #fff;
  position: sticky;
  display: flex;
  justify-content: left;
  align-items: left;
  height: 4rem;
  width: 100vw;
}

.main-menu-desktop {
  position: sticky;
  display: inline;
}

.main-menu-desktop ul {
  font-weight: 400;
  color: black;
  display: flex;
  list-style: none;
  gap: 1.2rem;
  padding: 1rem;
  margin: 20px;
}

.main-menu-desktop ul li {
  display: inline;
  gap: 2rem;
}

.main-menu-desktop ul li a {
  color: black;
  font-weight: 300;
  text-decoration: none;
  font-size: 22px;
  transition: all 0.2s ease-in-out;
}

.main-menu-desktop ul li a:hover {
  border-bottom: #f74b20 solid 1px;
}

@media screen and (min-width: 768px) {
  .main-menu-desktop {
    display: block;
  }
}

.closemobilemenu {
  cursor: pointer;
}

.burger-icon {
  display: block;
  padding: 0.8rem;
  z-index: 4000;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0.4rem;
}

@media screen and (min-width: 768px) {
  .burger-icon {
    display: none;
  }
}

.burger {
  background-image: url(../assets/burger.svg);
  background-repeat: no-repeat;
}

.close-mobile-menu {
  background-image: url(../assets/closemenu.svg);
  background-repeat: no-repeat;
}

.logo {
  background-image: url(/assets/reddot.svg);
  padding: 10rem;
  margin: 1rem;
  background-size: center;
  background-repeat: no-repeat;
}

.mobile-nav {
  font-weight: 400;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 2rem;
  animation-name: slideIn;
  animation-duration: 0.3s;
  z-index: 10;
}

.mobile-nav-hide {
  display: none;
}

.mobile-nav ul {
  list-style: none;
}

.mobile-nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 3rem;
}

@keyframes slideIn {
  from {
    transform: translate(100vw);
  }
  to {
    transform: translate(0px);
  }
}

h1 {
  color: #000;
  font-size: 6rem;
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  letter-spacing: 14px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 4rem;
  }
  .top {
    flex-direction: column;
  }
}

img {
  width: 15%;
  display: flex;
  margin: auto;
}

.top {
  display: flex;
  color: white;
  background: #f74b20;
  justify-content: space-evenly;
  margin: 50px 0;
  padding: 30px 50px;
  column-gap: 40px;
}

.oppgaven {
  flex-grow: 2;
  color: white;
}

.prosjektdetaljer {
  flex-grow: 1;
}

h3 {
  color: black;
  font-size: 40px;
  font-weight: 500;
  margin: auto;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10 100px;
}

p {
  padding: 0 10em;
  margin: 0 200px;
  justify-content: center;
  align-items: center;
}

.research {
  padding: 0 10em;
  margin: 0 200px;
}

.bullet-points {
  display: flex;
  padding: 0 10em;
  margin: 0 200px;
  justify-content: center;
  align-items: center;
}

.lofi {
  display: inline-block;
  display: flex;
  width: 40%;
}
