* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fffdf8;
  font-family: "neue-haas-grotesk-display";
}

header {
  position: fixed;
  background-color: #fffdf8;
  height: 80px;
  width: 100%;
  z-index: 5;
  display: flex;
  justify-content: space-between;
}

.main-menu-desktop ul {
  font-weight: 400;
  display: flex;
  list-style: none;
  gap: 3rem;
  padding: 1rem;
  margin: 20px;
}

.main-menu-desktop ul li a {
  color: black;
  font-weight: 300;
  text-decoration: none;
  font-size: 22px;
  transition: all 0.1s ease-in-out;
}

.main-menu-desktop ul li a:hover {
  border-bottom: #fc4d46 solid 3px;
}

@media screen and (min-width: 768px) {
  .main-menu-desktop {
    display: block;
  }
}

.closemobilemenu {
  cursor: pointer;
}

.burger-icon {
  display: block;
  padding: 0.8rem;
  z-index: 4000;
  width: 1.6rem;
  height: 1.6rem;
  margin: 0.4rem;
}

@media screen and (min-width: 768px) {
  .mobile-header {
    display: block;
  }

  .burger-icon {
    display: none;
  }
}

.burger {
  background-image: url(../assets/burger.svg);
  background-repeat: no-repeat;
}

.close-mobile-menu {
  background-image: url(../assets/closemenu.svg);
  background-repeat: no-repeat;
}

.logo {
  background-image: url(/assets/reddot.svg);
  padding: 10rem;
  margin: 20px;
  background-repeat: no-repeat;
}

.mobile-nav {
  font-weight: 400;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 2rem;
  animation-name: slideIn;
  animation-duration: 0.3s;
  z-index: 10;
}

.mobile-nav-hide {
  display: none;
}

.mobile-nav ul {
  list-style: none;
}

.mobile-nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 3rem;
}

@keyframes slideIn {
  from {
    transform: translate(100vw);
  }
  to {
    transform: translate(0px);
  }
}

h1 {
  color: #fc4d46;
  font-size: 6rem;
  min-height: 55vh;
  display: flex;
  flex-direction: column;
  justify-content: left;
  padding-left: 6rem;
  margin-top: -150px;
  letter-spacing: 14px;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
}

.jeg-er {
  font-size: 40px;
  color: black;
  min-height: 55vh;
  display: block;
  align-items: center;
  justify-content: center;
  padding: 6rem;
}

.bio {
  padding-left: 6rem;
  padding-right: 70px;
  margin-top: -160px;
  justify-content: left;
}

img {
  width: 30%;
  margin: 50px;
  margin-top: 100px;
}

h2 {
  color: #fc4d46;
  font-size: 60px;
  width: 90%;
  max-width: 80rem;
  margin: auto;
  margin-top: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper {
  display: grid;
  grid-gap: 1.3em;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 45vh);
  padding: 0;
  margin: 30px;
  filter: drop-shadow(1px 0px 1px #f1f1f1);
  border-radius: 0.5px;
  border: #dedcd7;
}

.work-cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.work-title {
  z-index: 2;
  position: absolute;
  bottom: 0.4rem;
}

.container {
  background-color: #fdf7f3;
  padding: 1.3em;
  border-radius: 17px;
  font-weight: 600;
  font-size: 2.4em;
  color: #ecea0e;
  position: relative;
  text-decoration: none;
  text-align: center;
}

.container2 {
  background-color: #fdf7f3;
  color: #f74b20;
  border-radius: 17px;
  padding: 1.3em;
  font-weight: 600;
  font-size: 2.4em;
  text-decoration: none;
  text-align: center;
}

.container3 {
  background-color: #fdf7f3;
  color: #0f384d;
  border-radius: 17px;
  padding: 1.3em;
  font-weight: 600;
  font-size: 2.4em;
  text-decoration: none;
  text-align: center;
}

.container img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

@media screen and (max-width: 768px) {
  .wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }
  .container {
    height: 20vh;
  }
}
